<div class="footer-div5 footer-expand-sm mt-5">
    <div class="div-col-1">
        <section>
            <ul style="list-style: none;"> 
                <li><h3 style="font-weight: bold;"><a href="#" style="text-decoration: none;color: white;"> MY ACCOUNT </a> </h3></li>
                <li><a href="#" style="text-decoration: none;color: white;">Orders</a></li>
                <li><a href="#" style="text-decoration: none;color: white;">Returns/RefundsReturns/Refunds</a></li>
                <li><a href="#" style="text-decoration: none;color: white;">Track Order</a></li>
                <li><a href="#" style="text-decoration: none;color: white;">Frequently Asked Questions</a></li>
            </ul>  
    </section>          
    </div>
    <div class="div-col-2">
        <section>
            <ul style="list-style: none;">
                <li><h3>  <a href="#" style="font-weight: bold;text-decoration: none;color: white;">POLICIES</a> </h3></li>
                <li><a href="#" style="text-decoration: none;color: white;">Payment Options</a></li>
                <li><a href="#" style="text-decoration: none;color: white;">Terms & Conditions of Use</a></li>
                <li><a href="#" style="text-decoration: none;color: white;">Terms & Conditions of Membership Program</a></li>
                <li><a href="#"style="text-decoration: none;color: white;">Offer Terms & Conditions</a></li>
                <li><a href="#"style="text-decoration: none;color: white;">Returns & Exchange Policy</a></li>
                <li><a href="#"style="text-decoration: none;color: white;">Shipping Policy</a></li>
                <li><a href="#"style="text-decoration: none;color: white;">Privacy Policy</a></li>
                <li><a href="#"style="text-decoration: none;color: white;">Safety Checklist</a></li>
            </ul> 
        </section>           
    </div>
    <div  class="div-col-3">
        <section>
            <ul style="list-style: none;">
                <li><h3  > <a href="#" style="font-weight: bold;text-decoration: none;color: white;"> CONTACT US </a> </h3></li>
                <li><a href="#" style="text-decoration: none;color: white;">Customer Support</a></li>
                <li><a href="#" style="text-decoration: none;color: white;">Store Locators</a></li>
                <li><a href="#" style="text-decoration: none;color: white;">Help Center</a></li>
            </ul> 
        </section> 
        <section>
            <ul class="sec-aboutus" style="list-style: none;">
                <li><h3  > <a href="#" style="font-weight: bold;text-decoration: none;color: white;">ABOUT US</a> </h3></li>
                <li><a href="#" style="text-decoration: none;color: white;">Official Brand Store</a></li>
                <li><a href="#"style="text-decoration: none;color: white;">About Us</a></li>
                <li><a href="#"style="text-decoration: none;color: white;">Careers</a></li>
            </ul> 
        </section> 
    </div>
    <div class="div-col-4">
        <section>
            <ul  style="list-style: none;">
                <li><h3  > <a href="#" style="font-weight: bold;text-decoration: none;color: white;"> SOCIAL</a></h3></li>
                <li><a href="#" style="text-decoration: none;color: white;">Facebook</a></li>
                <li><a href="#"style="text-decoration: none;color: white;">Twitter</a></li>
                <li><a href="#"style="text-decoration: none;color: white;">YouTube</a></li>
            </ul> 
        </section> 
    </div>
  </div> 