
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="https://www.bigbasket.com/media/uploads/banner_images/2104132_ice-creams_400.jpg" class="d-block w-100" alt="..."  style="width: 930px;height:500px;">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../assets/grocery5.jpeg" class="d-block w-100" alt="..." style="width: 930px;height:500px;">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/3rd carousel.jpeg"  class="d-block w-100" alt="..."  style="width: 930px;height:500px;">
      </div>
      <!-- https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,w=954,h=477/layout-engine/2021-03/1320x660-biscuit-resizee-1.jpg -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  