<!-- <li class="nav-item"> -->
    <!-- <a class="nav-link"  *ngIf="!logStatus"  id="login" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" style="color: black;font-size: 20px;font-weight: bold; font-family: 'Courgette', cursive;color: black;" > Login</a> -->

   <!-- modal -->
 

      <!-- <div class="modal fade"  id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"> -->
        <!-- <div class="modal-dialog"> -->
      <!-- <div class="modal-content" style="background: linear-gradient(to bottom,#ff3399 0%, #ffffcc 100%)"> -->
         <!-- <div class="modal-header" >     
       <h1 class="text" style="margin-left: 180px; color: black; font-family: 'Courgette', cursive;">Login</h1>
     
     <button type="button" id="closebutton" class="btn " style="float: right; margin-right: 10px; margin-bottom: 10px; margin-top: 10px; font-size: 25px;" data-bs-dismiss="modal" >X</button>
       </div>  -->
                    
     <!-- <div class="modal-body" > -->








<!-- 

       <div class="row">
     <div class="col-sm-5">
        <img src="../../assets/login - latest1.jpeg" style="width: 200px; height: 500px;" alt="">
    </div>
    <div class="col-sm-7">     

      <form  #ref="ngForm" class="form" style="margin-top: 150px;" (ngSubmit)="ref.form.valid && onSelect(ref)">
          
   <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="person" id="user" value="user" required #person="ngModel" ngModel>
       <label class="form-check-label" for="user" style="color: black;">User</label>
        </div>
      <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="person" id="admin" value="admin" required #person="ngModel" ngModel>
         <label class="form-check-label" for="admin" style="color: black;">Admin</label>
     </div>
      
      <div class="text" style="color: red;" *ngIf="(person.touched || ref.submitted) && (person.errors?.required)">*Please choose one</div>



       
 <input type="text" class="form-control mb-2" id="username" placeholder="Username" name="username" #username="ngModel" autocomplete="off" ngModel required>
   
     <p *ngIf="(username.touched || ref.submitted)&&username.errors?.required" class="text" style="color: red;" >*Username required</p>
                           


                          

      
  <input type="password" class="form-control mb-2  " id="password" placeholder="Password "  autocomplete="off" name="password"  #password="ngModel" ngModel required>                      

     <p *ngIf="(password.touched || ref.submitted) && password.errors?.required" class="text" style="color: red;">*Password required</p>
                         
          

     <button type="submit"    class="btn btn-primary d-block mx-auto mt-5" (ngSubmit)="ref.form.valid && onSelect(ref)">Login</button>
 </form>

    </div>
    </div> -->























    <!-- </div>  -->


  <!-- <div class="modal-footer"> -->
   <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
     <!-- <button type="button" class="btn btn-success mx-auto">Register</button> -->
       <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
 <!-- </div> -->


<!-- </li> -->















<div class="container-fluid">
  <div class="row"id="login" style="background-image: url(https://imgs.bharatmatrimony.com/bmimgs/login/login-otp-banner.png);background-repeat: no-repeat;height:70vh;">
      <div class="col-sm-6">

      </div>
      <div class="col-sm-6">
          <form #ref="ngForm" class="form" style="margin-top: 150px;" (ngSubmit)="ref.form.valid && onSelect(ref)">

              <div class="form-check form-check-inline"  >
                  <input class="form-check-input" type="radio"  name="person" id="user" value="user" required #person="ngModel" ngModel>
                     <label class="form-check-label" for="user" style="color: peachpuff; font-size: 22px;font-family: 'Courgette',cursive;">User</label>
              </div>

                    <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="person" id="admin" value="admin" required #person="ngModel" ngModel>
                       <label class="form-check-label" for="admin" style="color: peachpuff; font-size: 22px; font-family: 'Courgette',cursive;">Admin</label>
                   </div> 

                   <!-- person validation -->    
                   <div class="text" style="color: red;" *ngIf="(person.touched || ref.submitted) && (person.errors?.required)">*Please choose one</div>
                   
        <!------------------- username ------------------------->
                   <input type="text" class="form-control mb-2" id="username" placeholder="Username" name="username" #username="ngModel" autocomplete="off" ngModel required>
                   <p *ngIf="(username.touched || ref.submitted)&&username.errors?.required" class="text" style="color: red;" >*Username required</p>
                     <!---------------------password--------------------------------- -->
                     <input type="password" class="form-control mb-2  " id="password" placeholder="Password "  autocomplete="off" name="password"  #password="ngModel" ngModel required>
                         <!-- validation for password-->
                         <p *ngIf="(password.touched || ref.submitted) && password.errors?.required" class="text" style="color: red;">*Password required</p>
                      <!--------------------- submit button --------------------------->
                      <button type="submit"  style="color:darkviolet;background-color: lawngreen;font-size: 20px; font-family:'Courgette', cursive; "  class="btn  d-block mx-auto mt-5" (ngSubmit)="ref.form.valid && onSelect(ref)" >Login</button>

          </form>
      </div>
  </div>
</div>


<router-outlet></router-outlet>

 <app-footer></app-footer> 














