
<div class="container-fluid">
  <div class="row"id="login" style="background-image: url(https://imgs.bharatmatrimony.com/bmimgs/login/login-otp-banner.png);background-repeat: no-repeat;height:70vh;">
      <div class="col-sm-6">

      </div>
      <div class="col-sm-6">
          <form #ref="ngForm" class="form" style="margin-top: 150px;" (ngSubmit)="ref.form.valid && onSelect(ref)">

              <div class="form-check form-check-inline"  >
                  <input class="form-check-input" type="radio"  name="person" id="user" value="user" required #person="ngModel" ngModel>
                     <label class="form-check-label" for="user" style="color: peachpuff; font-size: 22px;font-family: 'Courgette',cursive;">User</label>
              </div>

                    <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="person" id="admin" value="admin" required #person="ngModel" ngModel>
                       <label class="form-check-label" for="admin" style="color: peachpuff; font-size: 22px; font-family: 'Courgette',cursive;">Admin</label>
                   </div> 

                   <!-- person validation -->    
                   <div class="text" style="color: red;" *ngIf="(person.touched || ref.submitted) && (person.errors?.required)">*Please choose one</div>
                   
        <!------------------- username ------------------------->
                   <input type="text" class="form-control mb-2" id="username" placeholder="Username" name="username" #username="ngModel" autocomplete="off" ngModel required>
                   <p *ngIf="(username.touched || ref.submitted)&&username.errors?.required" class="text" style="color: red;" >*Username required</p>
                     <!---------------------password--------------------------------- -->
                     <input type="password" class="form-control mb-2  " id="password" placeholder="Password "  autocomplete="off" name="password"  #password="ngModel" ngModel required>
                         <!-- validation for password-->
                         <p *ngIf="(password.touched || ref.submitted) && password.errors?.required" class="text" style="color: red;">*Password required</p>
                      <!--------------------- submit button --------------------------->
                      <button type="submit"  style="color:darkviolet;background-color: lawngreen;font-size: 20px; font-family:'Courgette', cursive; "  class="btn  d-block mx-auto mt-5" (ngSubmit)="ref.form.valid && onSelect(ref)" >Login</button>

          </form>
      </div>
  </div>
</div>


<router-outlet></router-outlet>

 <app-footer></app-footer> 














