
<div class="body">
    
    
        <div class="col-md-1">
            <div id="mySidenav" class="vertical-menu">
                <a routerLink="myprofile" id="myprofile">My Profile</a>
                <a routerLink="myaddress" id="myaddress">My Address</a>
                <a routerLink="wishlist" id="readylist">Wish List</a>
                <a routerLink="myorders" id="orders">My Orders</a>
              </div>
        </div>
            <div class="col-md-11">
                <router-outlet></router-outlet>
            </div>

  


</div>


 <app-footer></app-footer>


 <!--  <a routerLink="" style="float: right;" (click)="userLogout()">Signout</a> -->