
  <div class="body"> 
<div class="row">
    <h2 class="text-center " style="color: blue; "> Shopping cart</h2>
    <div class="text" *ngIf="cart.length===0"><img src="../../assets/cartempty.jpeg" class="img d-block mx-auto" alt=""></div>
    <div class="card" *ngIf="cart.length>0">
        <div class="card-body"  *ngFor="let item of cart; let i=index"> <hr>
            <div class="row " >
        <div class="col-sm-4">
         <img src= {{item.productimage}} class="img h-75" alt="">   
        </div>
        <div class="col-sm-8">
          <b style="font-size: 30px;">{{item.productname}}</b>   <br>

    
         <span>MRP:</span>  <i class="fas fa-rupee-sign"></i>  {{item.productprice}} <br>
           
            <div class="row mt-4" >
                <div class="col-sm-3"><button type="button" class="minus bg-info" style="width: max-content; font-size: 20px; size: 50px;" (click)="minus(item)">-</button> </div>
                <div class="col-sm-6"><h2 class="text">Quantity:  {{item.quantity}}</h2></div>
                <div class="col-sm-3"> <button type="button" class="minus bg-success" style="width: max-content;" (click)="plus(item)">+</button></div>
               
               
               
               
            </div> 
           
            <div class="col-sm-8">  <button class="btn btn-danger mt-3 d-block mx-auto" (click)="deleteprodincart(item)">Delete</button> </div>
          
        </div>
        </div>
    </div>
        </div>
      </div>
                   <h2 class="text-center" *ngIf="cart.length>0">Total Price is : {{sum}}</h2>
                   <div class="col">   <button class="btn btn-success mt-3 d-block mx-auto"  *ngIf="cart.length>0" (click)="billing()">Checkout</button></div>
</div>
  




