<!-- --------------------------------------------------------------- Navbar1------------------------------------------------------------ -->

 <app-navbar1></app-navbar1>


<!------------------------------------------------------------------------Navbar2--------------------------------------------------------  -->


<app-navbar2></app-navbar2>

<!------------------------------------------------------- Carousel -------------------------------------------------->
 
 


<!----------------------------------------Footer ------------------------------------------------------------------- -->
 

<!-----------------------------------------------Placeholder Directive ----------------------------------  -->
 

<router-outlet></router-outlet>





<!-- -------------------------------------------------------------------------------------------------- -->

