/* .ng-touched.ng-invalid{
    border: 1px solid red;
}

.ng-touched.ng-valid{
    border: 1px solid green;
} */

/* 
 .kenburns-top {
	-webkit-animation: kenburns-top 5s ease-in infinite both;
	        animation: kenburns-top 5s ease-in infinite both;
} */

a:hover{
    background-color:crimson;
}
